<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in</p>

<ul>
    <li *ngFor="let blog of blogs">
        {{blog.content}} - <a (click)="deleteUser(blog.id)" class="text-danger">View</a>
    </li>
</ul>

<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <h4>John Doe</h4><br>
  <hr class="w3-clear">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">
  </div>
</div>

<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <h4>John Doe</h4><br>
  <hr class="w3-clear">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">
  </div>
</div>


<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <h4>John Doe</h4><br>
  <hr class="w3-clear">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">
  </div>
</div>

<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <h4>John Doe</h4><br>
  <hr class="w3-clear">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row-padding" style="margin:0 -16px">
  </div>
</div>
